body {
    margin: 0;
}

.img-background {
    background-image: url(./background_home.jpg);
    height: 100vh;
    width: 100%;
    text-align: center;;
    color: aliceblue;
    position: absolute;
}

.navbar-custom-color {
    background-color: black !important;
    color: white !important;
    font-size: 20px;
}